.AlignCenter{
    text-align:center;
    color: brown;
    margin-left: 26px;
}
.Alignleft{
    text-align:justify;
    position: relative;
    left: 370px;

}
.ResumeStyle{
    background-color: black;
    color: white;
    outline: 4px outset grey;
    text-align:center;
}
.Profile{
    width: 200;
    height: 200;
    border: 5px inset black;
    position: relative;
    top: 70px;
    left: 90px;
}
.NameStyle{
    text-decoration: underline;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;font-size: 30px;
    font-size: 30px;
    text-shadow: 3px 3px 3px #ababab;
    position: relative;
    top: -100px;
    left: 150px;
}
.AboutMe{
    background-color: lightgray;
    text-shadow: 3px 3px 3px #ababab"
    text-align- left;
    position: relative;
    left: 370px; 
    
}
.ADetails{
    background-color: lightgray;
    text-shadow: 3px 3px 3px #ababab;
    position: relative;
    left: 370px;

}
.TableStyle{
    width: 60%;
    position: relative;
    left: 370px;
}
.Hobbies{
    background-color: lightgray;
    text-shadow: 3px 3px 3px #ababab;
    position: relative;
    left: 370px;

}
.ListStyle{
    position: relative;
    left: 370px;
}
.Details{
    background-color: lightgray;
    text-shadow: 3px 3px 3px #ababab;
    position: relative;
    left: 370px;
}
.FormStyle{
    position: relative;
    left: 370px;
}
